<h1>{{ movie.title }}</h1>
<p><strong>Release year:</strong> {{ movie.year }}</p>
<p><strong>Director:</strong> {{ movie.director }}</p>
<p><strong>Gender:</strong> {{ movie.genre }}</p>
<p><strong>Description:</strong> {{ movie.plot }}</p>
<img src={{ movie.posterUrl }} width="200px"; "Poster">